/* envar: purple */
.envvar,
.std-envvar .pre {
  color: rebeccapurple;
  font-weight: 700;
}

/* param: dark grey */
.param,
.std-param .pre {
  color: #404040;
  font-weight: 700;
  font-style: italic;
}

/* url: blue */
.url,
.std-url .pre {
  color: #2980b9;
  font-weight: 700;
}
